# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dossiers de build
node_modules
dist
dist-ssr

# Fichiers locaux
.env.local
.env

# Fichiers de gestion de versions
package-lock.json

# Dossiers et fichiers de l'éditeur
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dossiers de tests
coverage
